In [2]:
import pandas as pd

df = pd.read_csv('post_data/DJI0kEQBLTg.csv')
df.head()

,post_shortcode,commenter_username,comment_text,comment_likes
0,DJI0kEQBLTg,<Profile alfianmktifjr (49285862141)>,Sebagai alumni yang pernah mengikuti program P...,1493
1,DJI0kEQBLTg,<Profile nam_dosen (4198347476)>,"IISMA mungkin banyak pro-kontra ya, cuma PMM i...",396
2,DJI0kEQBLTg,<Profile belajarcarabelajar (12256352655)>,RIP Studi Independen :broken_heart: Sebagai al...,66
3,DJI0kEQBLTg,<Profile _wldn.p_ (13024605988)>,"PLSS BALIKIN PMM :loudly_crying_face:, WISHLIS...",2
4,DJI0kEQBLTg,<Profile yudikramdani (13710118382)>,"Bye bye merdeka belajar, beruntung bisa menjad...",418

In [4]:
df.shape

(848, 4)

In [6]:
df.dtypes

post_shortcode        object
commenter_username    object
comment_text          object
comment_likes          int64
dtype: object

In [7]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\gadwi\AppData\Roaming\nltk_data...

True

In [9]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()
ps = lambda x: sid.polarity_scores(x)
sentiment_scores = df.comment_text.apply(ps)
sentiment_scores.head()

0    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
1    {'neg': 0.0, 'neu': 0.871, 'pos': 0.129, 'comp...
2    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
3    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
4    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
Name: comment_text, dtype: object

In [10]:
sentiment_df = pd.DataFrame(sentiment_scores.tolist())
sentiment_df.head()

   neg    neu    pos  compound
0  0.0  1.000  0.000    0.0000
1  0.0  0.871  0.129    0.6369
2  0.0  1.000  0.000    0.0000
3  0.0  1.000  0.000    0.0000
4  0.0  1.000  0.000    0.0000

In [11]:
labelize = lambda x : 0 if x==0 else(1 if x>0 else -1)
sentiment_df['klasifikasi'] = sentiment_df.compound.apply(labelize)
sentiment_df.head()

   neg    neu    pos  compound  klasifikasi
0  0.0  1.000  0.000    0.0000            0
1  0.0  0.871  0.129    0.6369            1
2  0.0  1.000  0.000    0.0000            0
3  0.0  1.000  0.000    0.0000            0
4  0.0  1.000  0.000    0.0000            0

In [13]:
data = df.join(sentiment_df.klasifikasi)
data.head()

,post_shortcode,commenter_username,comment_text,comment_likes,klasifikasi
0,DJI0kEQBLTg,<Profile alfianmktifjr (49285862141)>,Sebagai alumni yang pernah mengikuti program P...,1493,0
1,DJI0kEQBLTg,<Profile nam_dosen (4198347476)>,"IISMA mungkin banyak pro-kontra ya, cuma PMM i...",396,1
2,DJI0kEQBLTg,<Profile belajarcarabelajar (12256352655)>,RIP Studi Independen :broken_heart: Sebagai al...,66,0
3,DJI0kEQBLTg,<Profile _wldn.p_ (13024605988)>,"PLSS BALIKIN PMM :loudly_crying_face:, WISHLIS...",2,0
4,DJI0kEQBLTg,<Profile yudikramdani (13710118382)>,"Bye bye merdeka belajar, beruntung bisa menjad...",418,0